<form>
  <div class="form-group">
    <label for="Blog-title">Email address</label>
    <input type="text" class="form-control" id="blog-title" placeholder="Blog Title">
  </div>
  <div class="form-group">
    <label for="Blog-content">Password</label>
    <input type="text" class="form-control" id="blog-content" placeholder="Blog Content">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
